.search-input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    width: 400px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 42px;
    font-family: inherit;

    &:focus {
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    @media (max-width:1200px) {
        width: 350px;
    }

    @media (max-width:991.98px) {
        width: 300px;
    }
}

.search-icon {
    width: 22px;
    height: 22px;
    opacity: 0.3;
    position: absolute;
    top: 12px;
    left: 14px;
}

.search-wrapper {
    position: relative;
}
.input-close{
    width: 18px;
    height: 18px;
    opacity: 0.3;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}